@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: 'Roboto', sans-serif;
  background: #241f20;
}
li {
  list-style: none;
}
h1 {
  text-align: center;
  color: #f4d0c0;
  padding: 16px;
}