.InfoPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoPage .Background{
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center center !important;
    position: fixed;
    top: 0;
    left: 200px;
    filter: blur(10px);
    opacity: 0.15;
}

.InfoPage .Info-wrapper{
    z-index: 0;
    padding: 25px;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ArtistInfo .Info-wrapper .Artist-image {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 5px solid #4b9a90;
    background-size: cover !important;
    background-position: center center !important;
}

.ArtistInfo .Info-wrapper .Top-tracks-wrapper,
.ArtistInfo .Info-wrapper .Top-tracks-wrapper .Top-tracks,
.ArtistInfo .Info-wrapper .Album-wrapper {
    width: 100%;
}

.ArtistInfo .Info-wrapper .Expand-button {
    cursor: pointer;
    padding: 12px;
    margin: 8px;
    width: 100px;
    border: 1px solid #4b9a90;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ArtistInfo .Info-wrapper .Album-wrapper .Albums {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.ArtistInfo .Info-wrapper .Album-wrapper .Albums li{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px;
}

.ArtistInfo .Info-wrapper .Album-wrapper .Albums li h3 {
    position: absolute;
    bottom: 25px;
    width: calc(100% - 74px);
    background: rgba(0,0,0,0.6);
    text-align: center;
}

.ArtistInfo .Info-wrapper .Album-wrapper .Albums li img {
    width: 200px;
}

.ArtistInfo .Info-wrapper .Genres {
    padding: 25px;
    padding-bottom: 0;
    color: #4b9a90;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.ArtistInfo .Info-wrapper .Genres > div{
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .InfoPage .Info-wrapper{
        padding: 25px 0;
        width: 100%;
        user-select: none;
    }
    .InfoPage .Background{
        left: 0;
    }

    .ArtistInfo .Info-wrapper .Album-wrapper .Albums li{
        width: 150px;
    }

    .ArtistInfo .Info-wrapper .Album-wrapper .Albums li img{
        width: 150px;
    }

    .ArtistInfo .Album-wrapper h3 {
        text-align: center;
    }
    
    .ArtistInfo .Info-wrapper .Genres {
        justify-content: space-between;
    }
}