.ArtistInfo .Info-wrapper .Artist-image {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-size: cover !important;
    background-position: center center !important;
}

.ArtistInfo .Info-wrapper .Top-tracks-wrapper,
.ArtistInfo .Info-wrapper .Top-tracks-wrapper .Top-tracks,
.ArtistInfo .Info-wrapper .Album-wrapper {
    width: 100%;
}

.ArtistInfo .Info-wrapper .Expand-button {
    display: flex;
}

.ArtistInfo .Info-wrapper .Album-wrapper .Albums {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.ArtistInfo .Info-wrapper .Album-wrapper .Albums a {
    margin: 25px;
}

.ArtistInfo .Info-wrapper .Album-wrapper .Albums a:hover {
    opacity: 0.7;
}

.ArtistInfo .Info-wrapper .Album-wrapper .Albums li{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 13px;
}

.ArtistInfo .Info-wrapper .Album-wrapper .Albums li h3 {
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
    background: rgba(0,0,0,0.75);
    text-align: center;
}

.ArtistInfo .Info-wrapper .Album-wrapper .Albums li img {
    width: 150px;
}

.ArtistInfo .Info-wrapper .Genres {
    padding: 25px;
    padding-bottom: 0;
    color: #4b9a90;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.ArtistInfo .Info-wrapper .Genres > div{
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .ArtistInfo .Info-wrapper .Album-wrapper .Albums li{
        width: 150px;
    }

    .ArtistInfo .Info-wrapper .Album-wrapper .Albums li img{
        width: 150px;
    }

    .ArtistInfo .Album-wrapper h3 {
        text-align: center;
    }
    
    .ArtistInfo .Info-wrapper .Genres {
        justify-content: space-between;
    }
}