.BillboardListItem {
    max-width: 600px;
    width: 500px;
    display: flex;
    align-items: center;
    background: #4b9a90;
    margin: 8px;
    position: relative;
}

.BillboardListItem:nth-child(2n) {
    background: #348075;
}

.BillboardListItem .Album-cover {
    padding: 8px;
}

.BillboardListItem .Album-cover img {
    width: 80px;
    height: 80px;
}

.BillboardListItem .Track-info {
    color: #f7d3c3;
}

.BillboardListItem .Track-info .Artist {
    font-size: 12px;
}

.BillboardListItem .User {
    position: absolute;
    right: 2px;
    bottom: 2px;
    font-size: 11px;
    color: #241f20;
    display: flex;
    
}

.BillboardListItem .User .Icon {
    fill: #241f20;
    width: 11px;
    height: 11px;
}

@media screen and (max-width: 800px) {
    .BillboardListItem {
        width: calc(100vw - 8px);
    }
}