.Billboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Billboard h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Billboard ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Billboard span {
    display: flex;
}

.Billboard .Icon {
    height: 27px;
    width: 27px;
    cursor: pointer;
}