.BillboardListItem {
    max-width: 600px;
    width: 500px;
    background: #4b9a90;
    margin: 8px;
}

.BillboardListItem:first-child {
    margin-top: 0;
}

.BillboardListItem .Expand-icon.Active {
    transform: rotate(180deg);
}

.BillboardListItem:nth-child(2n) {
    background: #348075;
}

.BillboardListItem .Basic-info {
    cursor: pointer;
}

.BillboardListItem .Jojk-info{
    display: flex;
    align-items: center;
    /*position: relative;*/
}

.BillboardListItem .Basic-info:hover > .Jojk-meta .Expand-icon {
    fill: #241f20;
}

.BillboardListItem .Jojk-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 4px;
    padding: 0 8px;
    color: #241f20;
}

.BillboardListItem .Jojk-meta .User{
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
}

.BillboardListItem .Jojk-meta .User .Icon {
    fill: #241f20;
    width: 12px;
    height: 12px;
}

.BillboardListItem .Jojk-meta .Expand-icon {
    /*position: absolute;
    left: calc(50% - 12px);
    bottom: 0;*/
    transition: transform 200ms linear;
    fill: #f7d3c3;
    box-shadow: outline 0px 6px 5px 0px rgba(0,0,0,0.48);
}

.BillboardListItem .Album-cover {
    padding: 8px;
}

.BillboardListItem .Album-cover img {
    width: 80px;
    height: 80px;
    display: block;
}

.BillboardListItem .Track-info {
    color: #f7d3c3;
}

.BillboardListItem .Track-info .Artist {
    font-size: 12px;
    color: #241f20;
}

.BillboardListItem .More-info {
    height:0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: all 200ms linear;
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.48);
    user-select: none;
    color: #241f20;
}

.BillboardListItem .More-info.Active {
    opacity: 1;
    height: 100%;
    padding: 8px;
    padding-top: 16px;
}

.BillboardListItem .More-info h3 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
}

.BillboardListItem .Button-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}

.BillboardListItem .Info-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    cursor: pointer;
    text-transform: capitalize;
}

.BillboardListItem .Info-button:hover:not(.Not-available) .mdi-icon {
    fill: #241f20;
} 

.BillboardListItem .Info-button .mdi-icon {
    fill: #f7d3c3;
}

.BillboardListItem .Info-button.Not-available {
    opacity: 0.2;
    cursor: initial;
    pointer-events: none;
    display: none;
}

.BillboardListItem .Info-button.Not-available .mdi-icon{
    fill: #e4442d;
}

@media screen and (max-width: 800px) {
    .BillboardListItem {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }
}