.Billboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Billboard ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Billboard .Icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}