.Billboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Billboard h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Billboard ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Billboard .Load-more {
    display: flex;
    padding: 16px;
}

.Billboard span {
    display: flex;
}

.Billboard h1 .Icon {
    height: 27px;
    width: 27px;
    cursor: pointer;
}