.Login .Background{
  background: url('./../images/login_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(15px);
}

.Login .Logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login .App-logo {
  height: 40vh;
}

.Login .App-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Login h1, .Login h3 {
  color: #241f20;
  text-shadow: 1px 1px rgba(36,31,31,0.5);
}

.Login .Number {
  color: #db4a3a;
  text-shadow: 1px 1px rgba(36,31,31,0.7);
  font-size: 25px;
}

.Login a {
  margin-top: 15vh;
  text-decoration: none;
}

.Login .Button {
  width: 350px;
  height: 100px;
  background: #241f20;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7d3c3;
  border-radius: 20px;
  font-size: 28px;
}

.Login .Button .Spotify-icon {
  width: 60px;
  height: 60px;
  fill: #72d761;
}

.Login .Button span{
  margin-left: 8px;
}

.Login .Button:hover {
  opacity: 0.8;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
