.Menu {
    width: 200px;
    background: #241f20;
    min-height: 100%;
    color: #f7d3c3;
    font-size: 14px;
}

.Menu li {
    display: flex;
    justify-content: left;
    padding-left: 8px;
    align-items: center;
    height: 40px;
    background: rgba(255,255,255, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.45);
    transition: background-color 0.3s ease;
    position: relative;
}

.Menu li:hover,
.Menu .Sub-menu li:hover {
    background: #4b9a90;
    cursor: pointer;
}

.Menu .ExpandableIcon {
    position: absolute;
    right: 4px;
    top: 8px;
    fill: #f7d3c3;
    transition: transform 200ms linear;
}

.Menu .ExpandableIcon.Expanded {
    transform: rotate(180deg);
}

.Menu a {
    text-decoration: none;
    color: #f7d3c3;
}

.Menu .Quick-buttons {
    padding: 4px;
    fill: #f7d3c3;
}


.Menu .Sub-menu {
    height: 0;
    overflow: hidden;
}

.Menu .City-menu {
    height: 40px;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.45);
}

.Menu .City-menu.Expanded,
.Menu .Sub-menu.Expanded {
    height: 100%;
}

.Menu .City-menu li {
    background: rgba(255,255,255, 0.2);
}

.Menu .City-menu .City {
    background: #3c8076;
}

@media screen and (max-width: 800px) {
    .Menu {
        box-shadow: inset 0px -25px 15px -24px rgba(0,0,0,0.69);
    }

    .Menu li {
        height: 60px;
    }
    .Menu .Quick-buttons .Icon{
        width: 40px;
        height: 40px;
    }

    .Menu .ExpandableIcon {
        top: 18px;
    }
    
    .Menu .ExpandableIcon.Expanded {
        transform: rotate(180deg);
    }

    .Menu .City-menu {
        height: 60px;
        overflow: hidden;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.45);
    }
}