.PlaylistPicker {
    position: fixed;
    width: calc(100% - 200px);
    height: calc(100% - 75px);
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index:1;
    overflow: auto;
}

.PlaylistPicker .PlaylistPicker-inner {
    background: #4b9a90;
    color: #f7d3c3;
    width: 75%;
    margin: 25px auto;
}

.PlaylistPicker .PlaylistPicker-inner h1 {
    padding: 0;
    padding: 16px;
    position: relative;
}

.PlaylistPicker .PlaylistPicker-inner h1 .Icon {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 8px;
}

.PlaylistPicker .PlaylistPicker-inner ul {
    align-items: left;
}

.PlaylistPicker .PlaylistPicker-inner ul li {
    width: calc(100% - 16px);
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.PlaylistPicker .PlaylistPicker-inner ul li:nth-child(2n) {
    background: #348075;
}

.PlaylistPicker .PlaylistPicker-inner ul li:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

.PlaylistPicker .PlaylistPicker-inner .Button-wrapper {
    display: flex;
    justify-content: center;
}

.PlaylistPicker .PlaylistPicker-inner .Closebutton {
    background: #241f20;
    font-size: 19px;
    padding: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.PlaylistPicker .PlaylistPicker-inner img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

@media screen and (max-width: 800px) {
    .PlaylistPicker {
        left: 0;
        width: 100%;
        height: calc(100% - 120px);
    }
    .PlaylistPicker .PlaylistPicker-inner {
        width: 100%;
        margin: 0;
    }

}