.PlaylistInfo .Info-wrapper .Playlist-image {
    height: 200px;
    width: 200px;
    background-size: cover !important;
    background-position: center center !important;
}

.PlaylistInfo .Info-wrapper .Description {
    text-align: center;
}

.PlaylistInfo .Info-wrapper .Tracks-wrapper,
.PlaylistInfo .Info-wrapper .Tracks-wrapper .Tracks{
    width: 100%;
}

.PlaylistInfo .Info-wrapper .Button-list {
    display: flex;
}

@media screen and (max-width: 800px) {
    .PlaylistInfo .Info-wrapper .Genres {
        justify-content: space-between;
    }
}