.ProfileInfo .Info-wrapper .Profile-image {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-size: cover !important;
    background-position: center center !important;
}

.ProfileInfo .Info-wrapper .Tracks-wrapper,
.ProfileInfo .Info-wrapper .Tracks-wrapper .Top-tracks,
.ProfileInfo .Info-wrapper .Artists-wrapper{
    width: 100%;
}

.ProfileInfo .Info-wrapper .Artists-wrapper .Top-artists-title {
    padding-bottom: 0;
}

.ProfileInfo .Info-wrapper .Artists-wrapper .Top-artists {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.ProfileInfo .Info-wrapper .Artists-wrapper .Top-artists a {
    margin: 25px;
}

.ProfileInfo .Info-wrapper .Artists-wrapper .Top-artists a:hover {
    opacity: 0.7;
}

.ProfileInfo .Info-wrapper .Artists-wrapper .Top-artists li{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover !important;
    background-position: center center !important;
}

.ProfileInfo .Info-wrapper .Artists-wrapper .Top-artists li h3 {
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
    background: rgba(0,0,0,0.6);
    text-align: center;
}

.ProfileInfo .Info-wrapper .Artist-button {
    cursor: pointer;
    padding: 12px;
    margin: 8px;
    border: 1px solid #4b9a90;
    color: #f7d3c3;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfileInfo .Info-wrapper .Meta-data {
    width: 100%;
    padding: 18px;
}

.ProfileInfo .Info-wrapper .Type {
    color: #4b9a90;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
}

@media screen and (max-width: 800px) {
}